<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Панель редактора</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="/assets/calendar.css">
	<link rel="icon" href="icon.png">

	<head>

	<body>
		<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div id="events-container">
			<h2>События</h2>
		</div>
		<div class="floating-button" onclick="window.location.href='/';">
			<i class="fas fa-backward"></i>
		</div>
		<div class="floating-button-2" onclick="changeView();">
			<i class="fas fa-eye"></i>
		</div>
		<div class="floating-button-3" onclick="window.location.href='/admin/report';">
			<i class="fas fa-flag"></i>
		</div>
		<div class="floating-button-4" onclick="window.location.href='/admin/usermgr';">
			<i class="fas fa-users"></i>
		</div>
	</body>
	<script src="https://momentjs.com/downloads/moment.min.js"></script>
	<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
	<script src="/assets/sweetalert2.js"></script>
	<script src="/assets/calendar.js"></script>
	<script src="/assets/admin.js"></script>

</html>