<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link rel="icon" href="icon.png">
<title>Календарь</title>
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/assets/calendar.css">
<style>
.button-container {
	display: none;
}
</style>
<head>
<body>
	<!--CSRF Attack Protection-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="events-container">
		<h2>Календарь событий</h2>
	</div>
	<div class="floating-button" onclick="openModal();">
		<i class="fas fa-plus"></i>
	</div>
	<div class="overlay" id="overlay">
		<div class="modal">
			<h2>Введите данные</h2>
			<div class="form-group">
				<label for="date">Когда это произошло?</label> <input type="date" id="date" required>
			</div>
			<div class="form-group">
				<label for="title">Как называется событие?</label> <input spellcheck="true" type="text" id="title"
					placeholder="Введите название" required>
			</div>
			<div class="form-group">
				<label for="description">Опишите событие подробнее:</label>
				<textarea wrap="hard" required spellcheck="true" id="description" rows="2" maxlength="100"
					placeholder="Не больше 100 букв."></textarea>
			</div>
			<div class="form-group">
				<label for="signature">Кто вы?</label> <input spellcheck="true" type="text" id="signature" placeholder="Иванов Иван"
					required>
			</div>
			<div class="modal-buttons">
				<button class="close-button" onclick="closeModal()">Закрыть</button>
				<button class="submit-button" onclick="submitForm()">Отправить</button>
			</div>
		</div>
	</div>
</body>
<script src="/assets/moment.min.js"></script>
<script src="/assets/moment-with-locales.min.js"></script>
<script src="/assets/sweetalert2.js"></script>
<script src="/assets/calendar.js"></script>
<script>
		document.getElementById("date").valueAsDate = new Date();

		function openModal() {
			document.getElementById('overlay').style.display = 'flex';
		}
		function closeModal() {
			document.getElementById('overlay').style.display = 'none';
		}
		function submitForm() {
			const date = document.getElementById('date').value;
			const title = document.getElementById('title').value;
			const description = document.getElementById('description').value;
			const signature = document.getElementById('signature').value;

			if (!date || !title || !signature) {
				alert('Пожалуйста, заполните обязательные поля: Дата, Заголовок, Подпись.');
				return;
			}
			const data = {
				date: date,
				title: title,
				content: description,
				author: signature
			};
			console.log(data);
			sendData("/api/addevent", data);
			document.getElementById("date").valueAsDate = new Date();
			document.getElementById('title').value="";
			document.getElementById('description').value="";
			document.getElementById('signature').value="";
			closeModal();
		}
		const sendData = async (url, data) => {
			var csrfToken = document.querySelector('input[name="_csrf"]').value;
			// Опции для fetch запроса
			const options = {
				method: 'POST',
				headers: {
					'X-CSRF-TOKEN': csrfToken,
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			};
			try {
				const response = await fetch(url, options);
				if (!response.ok) {
					Swal.fire({
						title: "Ошибка!",
						text: "Ошибка обращения к серверу. \n HTTP: " + response.status,
						icon: "error"
					});
					throw new Error(`HTTP error! status: ${response.status}`);
				}
				const responseData = await response.json();
				console.log('Response:', responseData);
				Swal.fire({
					title: "Готово!",
					text: "В ближайшее время ваше событие появится здесь.",
					icon: "success"
				});
			} catch (error) {
				console.error('Error:', error);
				Swal.fire({
					title: "Ошибка!",
					text: "Что-то пошло не так! \n Сообщение: " + error,
					icon: "error"
				});
			}
		};
	</script>

</html>